

:root {
  --font-titre: helvetica, arial;
  --fs-check:14px;
  --fs-champ:18px;
  --fs-titre:34px;
  --fw-light:   300;
  --fw-regular: 400;
  --fw-bold:    700;
  --color-primary:#9DD129;
  --shadow : #1C85A621;

}

